.without {
    border: 2;
    line-height: 2.5;
    padding: 0 20px;
    font-size:2rem;

    text-align: center;
    color: #3733FF;
    border-radius: 10px;
    background-color: background-color: #3733FF;;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 3px 3px 4px rgba(255, 255, 255, .6),
                inset -3px -3px 4px rgba(0, 0, 0, .6);
}
.centre{
text-align : center;
}

.with {
    border: 2;
    line-height: 2.5;
    padding: 0 20px;
    font-size:2rem;

    text-align: center;
    color: #3733FF;
    border-radius: 10px;
    background-color: background-color: #3733FF;;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 3px 3px 4px rgba(255, 255, 255, .6),
                inset -3px -3px 4px rgba(0, 0, 0, .6);